:root {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.2s;
}

body {
  background: #121212;
  color: #FFFFFFdd;
}
body svg {
  fill: #FFFFFFdd;
}
body h1 {
  font-size: 2.986rem;
}
body h2 {
  font-size: 2.488rem;
}
body h3 {
  font-size: 2.074rem;
}
body h4 {
  font-size: 1.728rem;
}
body h5 {
  font-size: 1.44rem;
}
body h6 {
  font-size: 1.2rem;
}
body p {
  font-size: 1rem;
}
body p.small {
  font-size: 0.833rem;
}
body a:link {
  text-decoration: none;
  color: #6ed7f7;
}
body a:visited {
  text-decoration: none;
  color: #6ed7f7;
}
body a:hover {
  text-decoration: underline;
  color: #1ac9ff;
}
body a:active {
  text-decoration: underline;
  color: #1ac9ff;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  padding: 0 auto;
  overflow: auto;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  padding: 0 auto;
  overflow: auto;
}

.webcontainer {
  max-width: 1100px;
  margin: auto;
}

.sidebar {
  height: auto;
  width: 400px;
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  background-color: #333333;
  overflow-x: hidden;
  padding: 2rem;
  margin: 1rem;
  border-radius: 10px;
}
.sidebar p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.sidebar img {
  width: 100%;
  object-fit: cover;
}

nav {
  margin: 2rem;
  padding: 1rem;
}
nav .links .logo {
  padding: 0.5rem;
  font-family: monospace;
  font-weight: 900;
  color: #6ed7f7;
  text-decoration: none;
  font-size: 2.074rem;
}
nav .links ul li {
  list-style-type: none;
}
nav .links ul li a {
  margin: 1rem;
  font-size: 2.074rem;
  font-family: monospace;
  font-weight: 900;
  color: #6ed7f7;
  text-decoration: none;
}
nav .links ul li a:hover {
  text-decoration: underline;
  color: #1ac9ff;
}
nav .cli {
  margin-top: 1rem;
  font-family: monospace;
  font-weight: 900;
  font-size: 1.44rem;
  color: #6ed7f7;
}

.profile {
  margin: 1rem;
  padding: 1rem;
  background: #1c1c1c;
  border-radius: 10px;
}
.profile .top {
  margin: 1rem;
}
.profile .top img {
  margin-right: 1rem;
  border-radius: 5px;
}
.profile .top .title {
  margin-left: 1rem;
  padding: 1rem;
  font-family: monospace;
  font-weight: 900;
  color: #1ac9ff;
}
.profile .skills {
  margin: 1rem;
}
.profile .skills a {
  margin: 1rem 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}
.profile .skills a svg:hover, .profile .skills a svg:active {
  fill: #1ac9ff;
}

.projects {
  margin: 1rem;
  margin-top: 2rem;
}
.projects .project {
  margin: 1rem;
  padding: 1rem;
}
.projects .project img {
  height: 200px;
  width: 300px;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
  padding-right: 1rem;
}
.projects .project .textbody {
  padding: 1rem;
}
.projects .project .textbody:hover {
  text-decoration: none;
  color: #1ac9ff;
}
.projects .project .textbody:active {
  text-decoration: none;
  color: #1ac9ff;
}
.projects .project button {
  padding: 0.5em 1em;
  margin-top: 1rem;
  background-color: #1ac9ff;
  color: #FFFFFFdd;
  font-weight: 900;
}
.projects .project.saved {
  background-color: #007599;
}
.projects .project.saved:hover {
  text-decoration: underline;
  color: #FFFFFFdd;
}
.projects .project.saved:active {
  text-decoration: underline;
  color: #FFFFFFdd;
}

.project .textbody {
  color: #FFFFFFdd;
}

.template {
  /* color */
  /* position */
  /* display */
  /* box model */
  /* box attributes*/
  /* text */
  /* other */
  /* animation */
}

/*# sourceMappingURL=style.css.map */
